<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/img.png" alt="My Photo" class="portrait">

        <p>Hey there! Thank you for visiting the websites. I am Arjun Rana. I love building websites. <br/> 
            <br/>I'm a Bachelor of Computer Application graduate from 2021. Connect with me on LinkedIn by clicking on the link below.
        </p>


    </div>
    
    {{>footer}}
</body>
</html>